table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .pointer {
    cursor: pointer;
  }

  .color{
    color: white;
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
}